*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

*.a
*.o
test
data/
*.ppm
output/

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
